body{
    background-image: linear-gradient(to bottom,
    #009688 20%,#d8dbd3 20%);
    height: 100vh;
}


.container{
    width: 80%;
    margin: auto;
    background-color: white;
    height:600px;
}

nav{
    height:  50px;
    border: 1px solid black;
    width: 100%;
}
img{
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}